/* # This code is for my future plan about this project curently I failed to exeute it with User Interface */


/* body {
    text-align: center;
    margin: 20px;
}

button {
    padding: 10px;
    margin-top: 10px;
}

img {
    max-width: 100%;
    margin-top: 20px;
} */
